n8n_workflows/01_script_generator.json
{
  "name": "Content Factory - Script Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {
          "returnAllMatches": {
            "returnAllMatches": true
          }
        }
      },
      "id": "get-new-topics",
      "name": "Get New Topics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "check-topic-exists",
      "name": "Has Topic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты - эксперт по созданию вирусных коротких видео для TikTok, Instagram Reels и YouTube Shorts. Твоя задача - создать захватывающий скрипт на 60-90 секунд.\\n\\nФормат ответа (JSON):\\n{\\n  \\\"hook\\\": \\\"Цепляющее начало (первые 3 секунды)\\\",\\n  \\\"script\\\": \\\"Полный текст скрипта\\\",\\n  \\\"key_points\\\": [\\\"Тезис 1\\\", \\\"Тезис 2\\\", \\\"Тезис 3\\\", \\\"Тезис 4\\\", \\\"Тезис 5\\\"],\\n  \\\"cta\\\": \\\"Призыв к действию в конце\\\"\\n}\\n\\nПравила:\\n- Hook должен быть провокационным или интригующим\\n- Скрипт должен быть разговорным, как будто говоришь с другом\\n- 5 ключевых тезисов для инфографики\\n- CTA должен мотивировать подписаться или сохранить\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Создай скрипт на тему: {{ $json.topic }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "id": "generate-script",
      "name": "Generate Script (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 100],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.choices[0].message.content);\nconst originalData = $('Get New Topics').first().json;\n\nreturn {\n  id: originalData.id,\n  topic: originalData.topic,\n  hook: response.hook,\n  script: response.script,\n  key_points: JSON.stringify(response.key_points),\n  cta: response.cta,\n  row_number: originalData.row_number\n};"
      },
      "id": "parse-script",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "script": "={{ $json.hook }}\\n\\n{{ $json.script }}\\n\\n{{ $json.cta }}",
            "key_points": "={{ $json.key_points }}",
            "status": "script_ready"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-sheet",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1050, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📝 *Новый скрипт готов!*\n\n*Тема:* {{ $json.topic }}\n\n*Hook:* {{ $json.hook }}\n\n*Скрипт:*\n{{ $json.script }}\n\n*Тезисы для инфографики:*\n{{ $json.key_points }}\n\n*CTA:* {{ $json.cta }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Одобрить скрипт",
                  "callback_data": "approve_script_{{ $json.id }}"
                },
                {
                  "text": "❌ Отклонить",
                  "callback_data": "reject_script_{{ $json.id }}"
                }
              ],
              [
                {
                  "text": "✏️ Изменить тему",
                  "callback_data": "edit_topic_{{ $json.id }}"
                }
              ]
            ]
          }
        }
      },
      "id": "send-to-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 09:00": {
      "main": [
        [
          {
            "node": "Get New Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get New Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Topics": {
      "main": [
        [
          {
            "node": "Has Topic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Topic?": {
      "main": [
        [
          {
            "node": "Generate Script (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
