n8n_workflows/02_moderation_handler.json
{
  "name": "Content Factory - Moderation Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "webhookId": "content-factory-moderation",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callbackData = $input.first().json.callback_query.data;\nconst parts = callbackData.split('_');\nconst action = parts.slice(0, -1).join('_'); // approve_script, reject_script, edit_topic, approve_video, reject_video\nconst contentId = parts[parts.length - 1];\n\nreturn {\n  action: action,\n  content_id: contentId,\n  callback_query_id: $input.first().json.callback_query.id,\n  chat_id: $input.first().json.callback_query.message.chat.id,\n  message_id: $input.first().json.callback_query.message.message_id\n};"
      },
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "operation": "answerQuery",
        "queryId": "={{ $json.callback_query_id }}",
        "text": "Обработка...",
        "additionalFields": {}
      },
      "id": "answer-callback",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [400, 0],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve_script",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-approve-script",
      "name": "Approve Script?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "reject_script",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-reject-script",
      "name": "Reject Script?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve_video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-approve-video",
      "name": "Approve Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.content_id }}",
            "status": "video_pending"
          }
        }
      },
      "id": "update-status-approved",
      "name": "Status: Video Pending",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "VIDEO_GENERATOR_WORKFLOW_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-video-generation",
      "name": "Trigger Video Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1050, -100]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "✅ Скрипт одобрен! Начинаю генерацию видео...",
        "additionalFields": {}
      },
      "id": "notify-approved",
      "name": "Notify: Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, -100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.content_id }}",
            "status": "rejected"
          }
        }
      },
      "id": "update-status-rejected",
      "name": "Status: Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "❌ Скрипт отклонён. Измените тему или попробуйте снова.",
        "additionalFields": {}
      },
      "id": "notify-rejected",
      "name": "Notify: Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.content_id }}",
            "status": "approved"
          }
        }
      },
      "id": "update-status-publish",
      "name": "Status: Approved",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PUBLISHER_WORKFLOW_ID"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-publish",
      "name": "Trigger Publisher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "🚀 Видео одобрено! Публикую в соцсети...",
        "additionalFields": {}
      },
      "id": "notify-publishing",
      "name": "Notify: Publishing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Callback": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Approve Script?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reject Script?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Approve Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Script?": {
      "main": [
        [
          {
            "node": "Status: Video Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Video Pending": {
      "main": [
        [
          {
            "node": "Trigger Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Video Generation": {
      "main": [
        [
          {
            "node": "Notify: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Script?": {
      "main": [
        [
          {
            "node": "Status: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Rejected": {
      "main": [
        [
          {
            "node": "Notify: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Video?": {
      "main": [
        [
          {
            "node": "Status: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Approved": {
      "main": [
        [
          {
            "node": "Trigger Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Publisher": {
      "main": [
        [
          {
            "node": "Notify: Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
