n8n_workflows/03_video_generator.json
{
  "name": "Content Factory - Video Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "video_pending"
            }
          ]
        },
        "options": {}
      },
      "id": "get-approved-content",
      "name": "Get Approved Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [200, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet keyPoints = [];\n\ntry {\n  keyPoints = JSON.parse(item.key_points);\n} catch (e) {\n  keyPoints = item.key_points.split(',').map(p => p.trim());\n}\n\n// Создаём структуру для Creatomate\nconst slides = keyPoints.map((point, index) => ({\n  slide_number: index + 1,\n  text: point,\n  duration: 3 // секунд на слайд\n}));\n\nreturn {\n  id: item.id,\n  topic: item.topic,\n  script: item.script,\n  key_points: keyPoints,\n  slides: slides,\n  total_slides: slides.length\n};"
      },
      "id": "prepare-video-data",
      "name": "Prepare Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"YOUR_CREATOMATE_TEMPLATE_ID\",\n  \"modifications\": {\n    \"Title\": \"{{ $json.topic }}\",\n    \"Slide-1-Text\": \"{{ $json.slides[0].text }}\",\n    \"Slide-2-Text\": \"{{ $json.slides[1].text }}\",\n    \"Slide-3-Text\": \"{{ $json.slides[2].text }}\",\n    \"Slide-4-Text\": \"{{ $json.slides[3].text }}\",\n    \"Slide-5-Text\": \"{{ $json.slides[4].text }}\"\n  }\n}"
      },
      "id": "generate-video-creatomate",
      "name": "Generate Video (Creatomate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-for-render",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.creatomate.com/v1/renders/{{ $('Generate Video (Creatomate)').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "check-render-status",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-render-complete",
      "name": "Render Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Prepare Video Data').item.json.id }}",
            "video_url": "={{ $json.url }}",
            "status": "video_ready"
          }
        }
      },
      "id": "update-video-url",
      "name": "Update Video URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1400, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🎬 *Видео готово!*\n\n*Тема:* {{ $('Prepare Video Data').item.json.topic }}\n\n📹 Видео: {{ $json.url }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Опубликовать",
                  "callback_data": "approve_video_{{ $('Prepare Video Data').item.json.id }}"
                },
                {
                  "text": "❌ Переделать",
                  "callback_data": "reject_video_{{ $('Prepare Video Data').item.json.id }}"
                }
              ]
            ]
          }
        }
      },
      "id": "send-video-preview",
      "name": "Send Video Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, -100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "⚠️ Ошибка рендеринга видео. Попробую ещё раз...",
        "additionalFields": {}
      },
      "id": "notify-render-error",
      "name": "Notify: Render Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1400, 100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Approved Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Content": {
      "main": [
        [
          {
            "node": "Prepare Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Data": {
      "main": [
        [
          {
            "node": "Generate Video (Creatomate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video (Creatomate)": {
      "main": [
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Render": {
      "main": [
        [
          {
            "node": "Check Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status": {
      "main": [
        [
          {
            "node": "Render Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Complete?": {
      "main": [
        [
          {
            "node": "Update Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Render Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video URL": {
      "main": [
        [
          {
            "node": "Send Video Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
