n8n_workflows/04_auto_publisher.json
{
  "name": "Content Factory - Auto Publisher",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "approved"
            }
          ]
        },
        "options": {}
      },
      "id": "get-approved-videos",
      "name": "Get Approved Videos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [200, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const item = $('Get Approved Videos').first().json;\n\n// Подготовка caption для всех платформ\nconst caption = `${item.topic}\\n\\n#shorts #reels #тикток #саморазвитие #мотивация #успех #продуктивность`;\n\nreturn {\n  id: item.id,\n  topic: item.topic,\n  video_url: item.video_url,\n  caption: caption,\n  hashtags: ['shorts', 'reels', 'тикток', 'саморазвитие', 'мотивация', 'успех', 'продуктивность']\n};"
      },
      "id": "prepare-publish-data",
      "name": "Prepare Publish Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": \"{{ $json.topic }}\",\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": \"{{ $json.video_url }}\"\n  }\n}"
      },
      "id": "publish-tiktok",
      "name": "Publish to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, -150],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_TIKTOK_OAUTH_ID",
          "name": "TikTok OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.topic }} #shorts\",\n    \"description\": \"{{ $json.caption }}\",\n    \"tags\": {{ JSON.stringify($json.hashtags) }},\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"selfDeclaredMadeForKids\": false\n  }\n}"
      },
      "id": "publish-youtube",
      "name": "Publish to YouTube Shorts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 0],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_YOUTUBE_OAUTH_ID",
          "name": "YouTube OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "authentication": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"REELS\",\n  \"video_url\": \"{{ $json.video_url }}\",\n  \"caption\": \"{{ $json.caption }}\",\n  \"share_to_feed\": true\n}"
      },
      "id": "publish-instagram-init",
      "name": "Instagram: Init Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 150],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_INSTAGRAM_OAUTH_ID",
          "name": "Instagram OAuth"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-instagram",
      "name": "Wait for IG Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media_publish",
        "authentication": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('Instagram: Init Upload').item.json.id }}\"\n}"
      },
      "id": "publish-instagram-final",
      "name": "Instagram: Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 150],
      "credentials": {
        "oAuth2Api": {
          "id": "YOUR_INSTAGRAM_OAUTH_ID",
          "name": "Instagram OAuth"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1450, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Prepare Publish Data').item.json.id }}",
            "tiktok_url": "=https://tiktok.com/@YOUR_TIKTOK_USERNAME",
            "youtube_url": "=https://youtube.com/shorts/",
            "instagram_url": "=https://instagram.com/reel/",
            "status": "published",
            "published_at": "={{ $now.format('yyyy-MM-dd') }}"
          }
        }
      },
      "id": "update-published-status",
      "name": "Update Published Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1650, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🎉 *Контент опубликован!*\n\n*Тема:* {{ $('Prepare Publish Data').item.json.topic }}\n\n📱 TikTok: ✅\n📺 YouTube Shorts: ✅\n📸 Instagram Reels: ✅\n\n_Опубликовано: {{ $now.format('dd.MM.yyyy HH:mm') }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-published",
      "name": "Notify: Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1850, 0],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Approved Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved Videos": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Prepare Publish Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish Data": {
      "main": [
        [
          {
            "node": "Publish to TikTok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to YouTube Shorts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram: Init Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to TikTok": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to YouTube Shorts": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Instagram: Init Upload": {
      "main": [
        [
          {
            "node": "Wait for IG Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for IG Processing": {
      "main": [
        [
          {
            "node": "Instagram: Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram: Publish": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Update Published Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Published Status": {
      "main": [
        [
          {
            "node": "Notify: Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
